<%= link_to "Create new", new_restaurant_path, class:"btn btn-primary mb-3 float-end" %>

<h1>All restaurants:</h1>
<br>


  <div class="row row-cols-1 row-cols-md-3 g-4">
<% @restaurants.each do |restaurant| %>
  <div class="col">
  <div class="card h-100" style="width: 18rem;">
    <div class="card-body">
        <%= link_to restaurant.name, restaurant_path(restaurant), class:"h5 card-title text-danger" %>
        <p class="card-text"><%= restaurant.address%></p>
      </div>
    </div>
  </div>
  <% end %>
  </div>
